*{
	font-family: 'Tillana', cursive;

}

a{
	text-decoration: none;
}
body{
	margin: 0;
	padding: 0;
	background-image: url(../images/Boats-Paper-Boat-l.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	margin: auto;
	overflow-x: hidden;
}
.barco{
	width: 100%;
}
ul > li{
	text-decoration: none;
	list-style: none;

}
li>a{
	font-family: 'Tillana', cursive;
}
.rosa{
	/* background-color:rgba(187,203,218,0.84);  */
	background-image: url(../images/4-light-samless-denim.jpg);
	background-size: cover;
	height:880px;
	margin-top: 4%;
	margin-top: 2%;
	opacity: 0.93;
	padding: 3%;
}

.azul{
	/* background-color: rgba(45,128,201, 0.84) */
	background-image: url(../images/1.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	height:750px;
	margin-top: 4%;
	opacity: 0.8;
}
.nube{
	/* margin-top: 3%; */
	width: 45%;
	margin-left: 15%;

}
 
.olas{
	width: 100%;
	margin-top: -15%;
}

.mt-10{
	margin-top: 8%;
}
.mt-20{
	margin-top: 20%;
}
.mt-5{
	margin-top: 5%;
}
.mt-1{
	margin-top: 1%;
}
.perfil{
	border-radius: 100%;
	width: 25%;
	margin-bottom: 5%;
	margin-left: 1%;
	
}
.mt-3{
	margin-top: 3%;
}
.text-white{
	color: white;
}
.glyphicon-cloud{
	font-size: 200%;
}
.ml-7{
	margin-left: 20%;
}
/* .cuadro{
	box-shadow: 10px 10px 5px #888888;
	width: 100%;
	
} */
.texto{
	/* width: 80%;
	text-align: center;
	margin-left: 10%; */
	font-size: 19px;
}
#sirena{
	width: 7%;
}
.brick{
	background-image: url(../images/brick_texture4787.jpg);
	opacity: 0.9;
	background-size: cover;
	height:750px;
	padding: 3%;
	margin-top: 4%; 
	height:760px;
	padding: 3%;
	 
}
.contacto{
	background-image: url(../images/paper-boats-origami-art-ultra-hd-wallpaper.jpg);
	opacity: 0.87;
	background-size: cover;
	height:650px;
	padding: 3%;
	margin-top: 4%; 
	height:700px;
	 
}
.contacts:hover{
	/* background-image: url(../images/a06c35b5e12ec74fc59bfaaa211b2f1d.jpg);
	background-size: 100%; */
	background-color: rgba(103,160,204, 0.6);
	width: 55%;
	border-radius: 100%;
	padding: 5%;
}
.text-c:hover{
	color:#F1FA07;
}
.footer{
	background-color: rgba(35,35, 40, 0.9);
	height: 50px;
}
.proyectos{
	width: 20%;
	height: 250px;
}
.text-bl{
	color: black;
}

.cont{
	margin-top: 
	width: 1005;
	height: 220px;
	margin-top: 10%;
}
.hovereffect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
}

.hovereffect .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
}

.hovereffect img {
  display: block;
  position: relative;
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
}

.hovereffect:hover img {
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feColorMatrix type="matrix" color-interpolation-filters="sRGB" values="0.2126 0.7152 0.0722 0 0 0.2126 0.7152 0.0722 0 0 0.2126 0.7152 0.0722 0 0 0 0 0 1 0" /><feGaussianBlur stdDeviation="3" /></filter></svg>#filter');
  filter: grayscale(5) blur(4px);
  -webkit-filter: grayscale(5) blur(4px);
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
 /*  border-radius: 40%; */
}

.hovereffect h2 {
  text-transform: uppercase;
  text-align: center;
  position: relative;
  font-size: 17px;
  padding: 10px;
  background: rgba(45, 128, 201, 0.8);
}

.hovereffect a.info {	
  display: inline-block;
  text-decoration: none;
  padding: 7px 14px;
  border: 1px solid #fff;
  margin: 50px 0 0 0;
  background-color: transparent;
}

.hovereffect a.info:hover {
  box-shadow: 0 0 5px #fff;
}

.hovereffect a.info, .hovereffect h2 {
  -webkit-transform: scale(0.7);
  -ms-transform: scale(0.7);
  transform: scale(0.7);
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
  opacity: 0;
  filter: alpha(opacity=0);
  color: #fff;
  text-transform: uppercase;
}

.hovereffect:hover a.info, .hovereffect:hover h2 {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}


@media only screen and (max-width: 720px) {
	.texto{
		font-size: 15px;
	}
	.contacts{
		width: 50%;
	}
	.azul{
		margin-top: 0;
	}
	.brick{
		margin-top: 0;
		height: 30%;
	}
	.contacto{
		margin-top: 0;
		height: 30%;
	}
	.rosa{
		margin-top: 20%;
	}
	.texto2{
		font-size: 30%;
	}
	body{
		background-size: 100%;
	}
	.nube{
		margin-left:3%;
		width: 35%;
	}

}


@media screen and (max-height: 720px) {
 
}

.contain{
	width: 100%;
	margin: 0 auto; 
	overflow: hidden;
}

#skill { 
	list-style:none; 
	padding-top:30px;
}

#skill li {

	margin-bottom:10%; 
	background:#0B0539; 
	height:13px; 
	border-radius:3px; 
	border-left:1px solid #111; 
	border-top:1px solid #111; 
	border-right:1px solid #333; 
	border-bottom:1px solid #333; 
	margin-top:2% 


}
li span{
	margin-top: 2%;
}


#skill li b { 
	position:relative; 
	

}

.expand { 
	height:4px; 
	margin:2px 0; 
	background:rgba(253,244,3,0.9); 
	position:absolute;
	box-shadow:0px 0px 10px 1px rgba(35,198,255,0.9);

}
.html5       { 	width:65%;  -moz-animation:html5 2s ease-out; 
      			-webkit-animation:html5 2s ease-out;       
      		}
.css3        { width:65%;  -moz-animation:css3 2s ease-out;
				-webkit-animation:css3 2s ease-out;       
				 }
.jquery      { width:50%;  -moz-animation:jquery 2s ease-out;
			  -webkit-animation:jquery 2s ease-out;     
			   }
.photoshop   { width:60%;  -moz-animation:photoshop 2s ease-out;   
				-webkit-animation:photoshop 2s ease-out;   
			}
.dreamweaver { width:50%; -moz-animation:dreamweaver 2s ease-out; 
				-webkit-animation:dreamweaver 2s ease-out; 
			}

@-webkit-keyframes html5       { 0%  { width:0px;} 40%{ width:60%;}  }
@-webkit-keyframes css3        { 0%  { width:0px;} 40%{ width:60%;}  }
@-webkit-keyframes jquery      { 0%  { width:0px;} 40%{ width:40%;}  }
@-webkit-keyframes photoshop   { 0%  { width:0px;} 40%{ width:10%;}  }
@-webkit-keyframes dreamweaver { 0%  { width:0px;} 40%{ width:60%;} }


.cloudy {
	animation: cloudy 1.7s ease-in-out infinite;
	
}
.cloudy:after {
	animation: cloudy_shadow 1.7s ease-in-out infinite;
	
  transform: scale(.8);
}
@keyframes cloudy {
	50% { transform: translateY(-20px); }
}
@keyframes cloudy_shadow {
	50% { transform: translateY(20px) scale(1); opacity:.05; }
}
/* nav bar */
.parent2 {
bottom: 85%;	
  /* top:15px; */
  left:15px;
  position:fixed;
 display:block;
  width:80px;
  height:80px;
 /*  background-color:transparent; */
  border-radius:50%;
  z-index:20;
 /*  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
 -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
 box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75); */
}
.test1 {
  width:68%;
  height:68%;
  background-color:#FAF20A;
  border-radius:50%;
  position:absolute;
  color:white;
  text-align:center;
  line-height:70px;
    top:25%;
  left:10%;
  z-index:19;
  transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
    position:absolute;
}
.test2 {
  width:68%;
  height:68%;
  background-color:#FAF20A;
  border-radius:50%;
  position:absolute;
  color:white;
  text-align:center;
  line-height:70px;
   top:25%;
  left:15%;
  z-index:19;
  transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550) .2s;
}
.test3 {
  width:68%;
  height:68%;
  background-color:#FAF20A;
  border-radius:50%;
  position:absolute;
  color:white;
  text-align:center;
  line-height:70px;
    top:25%;
  left:15%;
  transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550) .4s;  
}
  .test4 {
  width:68%;
  height:68%;
  background-color:#FAF20A;
  border-radius:50%;
  position:absolute;
  color:white;
  text-align:center;
  line-height:70px;
  top:25%;
  left:15%;
  transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550) .6s;  
 

}
.mask2 {
  /* top:15px; */
  bottom: 85%;
  left:15px;
  width:94px;
  height:94px;
  background-color:rgba(10,80,166, 1);
  border-radius:70%;
  position:absolute;
  z-index:21;
  color:white;
  font-size: 100%;
  text-align:center;
  line-height:120px;
  margin-top: 1%;
  cursor:pointer;
  position:fixed;
}
.fa{
	color: white;
}
